{% extends "base.html" %}

{% load django_bootstrap5 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block titile %}Рецепты {{ username }}{% endblock titile %}

{% block content %}
<div class="container">
  <h2 class="my-4">Рецепты {{ username }}</h2>
  <div class="row row-cols-1 row-cols-md-3">
    {% for recipe in recipes %}
      <div class="col mb-4">
        <div class="card">
          <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.image }}" style="width: 100%; height: 400px;">
          <div class="card-body">
            <h5 class="card-title">{{ recipe.name }}</h5>
            <p class="card-text">Категория: {{ recipe.category }}</p>
            <p class="card-text">Описание: {{ recipe.description }}</p>
            <p class="card-text">Шаги: {{ recipe.steps }}</p>
            <p class="card-text">Ингредиенты: 
              {% for ingredient in recipe.ingredients.all %}
                {{ ingredient.name }}
              {% endfor %}
            </p>
            <p class="card-text">Время выполнения: {{ recipe.preparation_time }} минут</p>
            <p class="card-text">Автор: {{ recipe.author }}</p>
            <a href="{% url 'recipes:recipe' recipe.id %}" class="btn btn-primary">Подробнее</a>
            <a href="{% url 'recipes:edit_recipe' recipe.id %}" class="btn btn-primary">Редактировать</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}